<!DOCTYPE html>

<!DOCTYPE html>
{% if dark_mode %}
<html dark="true">
{% else %}
<html>
{% endif %}
<head>
	<meta charset="utf-8">
	<meta lang="en">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	{% if title is defined %}
	<title>{{ title }} - Leo Peltola</title>
	{% else %}
	<title>Leo Peltola</title>
	{% endif %}
	<meta name="description" content="Personal site">
	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename=stylesheet) }}">

	<script src="https://kit.fontawesome.com/d77ed7c80b.js" crossorigin="anonymous"></script>

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
	<div id="background">
		<header id="header">
			<a href="{{ url_for('index') }}" id="logo">leopeltola<a>
			<div id="nav">
				<a href="{{ url_for('portfolio') }}" class="nav-item">portfolio</a>
				<a href="{{ url_for('blog') }}" class="nav-item">blog</a>
			</div>
		</header>
		<div class="spacer"></div>
		{% block content %}{% endblock %}
		{% if introduction %}
		<div id="card-limited" style="margin-top: 25px;">
			<h2>Leo Peltola</h2>
			<p>Guh!</p>
		</div>
		{% endif %}
		{% if not hide_footer %}
		<footer>
			<div id="links">
				<a href="https://github.com/leopeltola" target=”_blank” class="icon-link" id="github"><i class="fab fa-github"></i><span class="on-hover">Github</span></a>
				<a href="https://www.linkedin.com/in/leo-peltola" target=”_blank”  class="icon-link" id="linkedin"><i class="fab fa-linkedin"></i><span class="on-hover">LinkedIn</span></a>
				<a href="https://leopeltola.itch.io/" target=”_blank”  class="icon-link" id="itch-io"><i class="fab fa-itch-io"></i><span class="on-hover">Itch.io</span></a>
			</div>
			<label class="switch">
				{% if dark_mode %}
				<input type="checkbox" id="dark-mode-switch" checked>
				{% else %}
				<input type="checkbox" id="dark-mode-switch">
				{% endif %}
				<span class="slider round"><i class="fas fa-moon"></i><i class="fas fa-sun"></i></span>
			</label>
			<!-- <p style="color: white;"><i class="far fa-copyright"></i> 2021 Leo Peltola</p> -->
		</footer>
		{% endif %}
	</div>
	<script type="text/javascript" src="{{ url_for('static', filename='js/core.js') }}"></script>
</body>
</html>