{% extends "base.html" %}

{% block content %}
<h1>Portfolio</h1>
<div id="card-unlimited">
	{% for project in projects %}
	<a class="project-item" href="{{ project.link }}">
		<img class="project-img" src="{{ url_for('static', filename='img/placeholder.png') }}" >
		<div class="project-info">
			<h2>{{ project.h1 }}</h2>
			<div class="project-tags">
				{% for tag in project.tags %}
				<p class="project-tag">{{ tag }}</p>
				{% endfor %}
			</div>
			<p class="project-read-button">Read more <span id="arrow">-></span></p>
		</div>
	</a>
	{% endfor %}
</div>
{% endblock %}